@font-face {
    font-family: "Bebas_Neue"; src: url('../font/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: "Nunito"; src: url('../font/Nunito-VariableFont_wght.ttf');
}

#bebas {
    font-family: "Bebas_Neue";
}

h1#bebas,
h2#bebas,
h3#bebas {
    margin: 0;
    padding: 1em 0 1em 0;
}

#Nunito {
    font-family: "Nunito";
    text-align: justify;
}

body {
    margin: 0px;
    background-color: #222222;
    color: white;
}

div.cor {
    background-color: #0E0E0E;
}

h2 {
    text-align: center;
    font-size: 4.3vw;
}

h3 {
    font-size: 2.2em;
}

@media (max-width: 695px) {
    h2 {
        font-size: 7vw;
    }
}